<template>
  <div>
  <div class="card-hover-shadow card-border mb-3 card">
    <div class="card-header">
      <div class="card-body">
        <b-row>
          <b-col md="3">
            <b-form-select
              :options="[{ text: 'Service Category Selection..' , value: null }]"
              :value="null"
            ></b-form-select>
          </b-col>
          <b-col md="3">
            <b-input
              placeholder="Please Enter Query Keywords"
              type="text"
              maxlength="30"
            ></b-input>
          </b-col>
          <b-col md="4"></b-col>
          <b-col md="2" align="right">
            <b-btn
              class="btn mr-2"
              variant="primary"
              ><img> {{"Inquire"|translate}}</b-btn>
            <b-btn
              class="btn btn-success"
              >{{"Reset"|translate}}</b-btn>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
  
  <div class="card-hover-shadow card-border mb-3 card">
    <div class="card-header">
        <div class="card-body" 
        :style="{ 'margin-top': '18px' }">
        <b-row>
        <b-col md="9" :style="textheader">{{"ListofInstitutionalCategories"|translate}}</b-col>
        <b-col md="1">
          <router-link
                :to="{ name: 'add-institutions', params: { dataState: 'create' } }"
            >
                <b-btn
                    class="btn btn-block mb-3 btn-transition"
                    variant="primary"
                    >{{ "newOrganizationCategory" | translate }}</b-btn
                >
            </router-link>
        </b-col>
        <b-col md="1">
        <b-btn
          @click.stop="openModal(data.item)"
          class="btn btn-warning btn-hover-shine"
           :style="{ width: '100%' }"
          >{{"Edit"|translate}}</b-btn></b-col>
        <b-col md="1">
        <b-btn
          @click.stop="openModal(data.item)"
          class="btn btn-danger btn-hover-shine"
           :style="{ width: '100%' }"
          >{{"Delete"|translate}}</b-btn></b-col>
        </b-row>
        </div>
    </div>
    <div class="card-body">
      <VueElementLoading :active="isLoading" spinner="ring" color="var(--success)" />
        
      <b-table
        class="general-table"
        :striped="true"
        small
        responsive
        :outlined="true"
        :hover="true"
        :items="dummy"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
      >
        <template v-slot:head(region)="data">
          <div>{{ "Region" }}</div>
        </template>
        <template v-slot:head(name)="data">
          <div>{{ "Name" }}</div>
        </template>
        <template v-slot:head(establishDate)="data">
          <div>{{ "Establish Date" }}</div>
        </template>
        <template v-slot:head(legalperson)="data">
          <div>{{ "Legal Person" }}</div>
        </template>
        <template v-slot:head(contact)="data">
          <div>{{ "Contact" }}</div>
        </template>
        <template v-slot:head(contactnumber)="data">
          <div>{{ "Contact Number" }}</div>
        </template>
        <template v-slot:head(address)="data">
          <div>{{ "Address" }}</div>
        </template>
        <template v-slot:head(username)="data">
          <div>{{ "Input Username" }}</div>
        </template>
        <template v-slot:head(billingdate)="data">
          <div>{{ "Billing Date" }}</div>
        </template>
        <template v-slot:head(inputuser)="data">
          <div>{{ "Input Date" }}</div>
        </template>
        <template>
        <div>
        <b-col sm="5" md="6" class="my-1">
          <b-form-group
            label="Per page"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            label-for="perPageSelect"
            class="mb-0"
          >
            <b-form-select
              v-model="perPage"
              id="perPageSelect"
              size="sm"
              :options="pageOptions"
            ></b-form-select>
          </b-form-group>
        </b-col>
      
        <b-col sm="7" md="6" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
        </b-col>
        </div>
        </template>
      </b-table>
      <Modal
        :isShown="showDialog"
        :videoData="record"
        :dataState="state"
        @closeModal="closeModal()"
      />
    </div>
  </div>
  </div>
</template>

<script>
import Modal from "./InstitutionsModal";
import axios from "axios";

export default {
  textheader:{
    'text-align': 'inherit',
    'font-weight': 'bold',
    'font-size': '1.4em',
  },
  components: {
    Modal
  },
  data: () => ({
    showDialog: false,
    fields: [
      { key: "region", sortable: true },
      { key: "name", sortable: true },
      { key: "establishDate", sortable: true },
      { key: "legalperson", sortable: true },
      { key: "contact", sortable: true },
      { key: "contactnumber", sortable: true },
      { key: "address", sortable: true },
      { key: "inputusername", sortable: true },
      { key: "billingdate", sortable: true },
      { key: "inputdate", sortable: true },
    ],
    records: [],
    state: "",
     /*record:[
        {"region": "Moch", "name":"Tawang", "establishDate":"082100200300", "legalperson":"moch@gmail.com", "contact": "Moch", "contactnumber":"Tawang", "address":"082100200300", "inputusername":"moch@gmail.com", "billingdate":"082100200300", "inputdate":"moch@gmail.com"},
    ]*/
  }),
  totalRows: 1,
  currentPage: 1,
  perPage: 10,
  methods: {
    openModal(institutiondata) {
      if (!institutiondata) {
        this.state = "create";
        this.showDialog = true;
      } else {
          this.state = "edit";
          this.record = institutiondata;
          this.showDialog = true;
      }
    },
    closeModal() {
      this.showDialog = false;
      this.record = {};
    },
  },
  mounted() {
      axios
      .get('http://39.108.148.90/oldagecp2/webservices/institutional_get_list.php')
      .then(response => {
        this.records = response.data.records
      })
      
    },
};
</script>