<template>
  <div>
  <div class="card-hover-shadow card-border mb-3 card">
    <div>
      <div class="card-body">
        <b-row>
          <b-col md="3" align="left">
            <b-input
              placeholder="Please enter a package name"
              type="text"
              maxlength="30"
            ></b-input>
          </b-col>
          <b-col md="7"></b-col>
          <b-col md="2" align="right">
            <b-btn
              class="btn mr-2"
              variant="primary"
              ><img> {{"Inquire"|translate}}</b-btn>
            <b-btn
              class="btn btn-success"
              >{{"Reset"|translate}}</b-btn>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
  
  <b-row>
    <div class="col col-md-5">
      <div class="card-hover-shadow card-border mb-3 card">
        <div class="card-header">{{"ServicePackageList"|translate}}
          <div class="card-body" align="right">
              <router-link :to="{ name: 'service-package-create', params: { dataState: 'create' } }">
              <b-btn
                class="btn btn-hover-shine mr-2"
                variant="primary"
              >{{"Create"|translate}}</b-btn> </router-link>
              <b-btn
                class="btn btn-warning btn-hover-shine mr-2"
              >{{"Edit"|translate}}</b-btn>
              <b-btn
                class="btn btn-danger btn-hover-shine"
              >{{"Cancel"|translate}}</b-btn>
          </div>
        </div>

          <div class="card-body">
            <VueElementLoading :active="isLoading" spinner="ring" color="var(--success)" /> 
            <b-table
              id="table-package-skill"
              :striped="striped"
              :bordered="bordered"
              :borderless="borderless"
              :outlined="outlined"
              :small="small"
              responsive
              :hover="hover"
              :dark="dark"
              :fixed="fixed"
              :foot-clone="footClone"
              :no-border-collapse="noCollapse"
              :head-variant="headVariant"
              :table-variant="tableVariant"
              :items="dummy"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
            >
              <template v-slot:head(check)="data">
                <div>{{""}}</div>
              </template>
              <template v-slot:head(packagename)="data">
                <div>{{"PackageName"|translate}}</div>
              </template>
              <template v-slot:head(packagenotes)="data">
                <div>{{"PackageNotes"|translate}}</div>
              </template>
              <template v-slot:head(packagestatus)="data">
                <div>{{"PackageStatus"|translate}}</div>
              </template>
              <template v-slot:cell(check)="data">
                <b-form-radio v-model="selected" name="some-radios"></b-form-radio>
              </template>
              <template v-slot:cell(packagestatus)="data">
                <b-form-checkbox switch size="lg"></b-form-checkbox>
              </template>
            </b-table>
            <b-pagination
              v-model="currentPage"
              :total-rows="rows"
              :per-page="perPage"
              aria-controls="table-package-skill"
              label-page
            ></b-pagination>
          </div>
      </div>
    </div>

    <div class="col col-md-7">
      <div class="card-hover-shadow card-border mb-3 card">
        <div class="card-header">{{"PackageName"|translate}}{{" :"}}{{" Cleanup Package 1"}}
      </div>

          <div class="card-body">
            <b-table
              :striped="striped"
              :bordered="bordered"
              :borderless="borderless"
              :outlined="outlined"
              :small="small"
              responsive
              :hover="hover"
              :dark="dark"
              :fixed="fixed"
              :foot-clone="footClone"
              :no-border-collapse="noCollapse"
              :head-variant="headVariant"
              :table-variant="tableVariant"
              :items="dummy1"
              :fields="fields1"
            >
              <template v-slot:head(id)="data">
                <div>{{"#"|translate}}</div>
              </template>
              <template v-slot:head(servicetype)="data">
                <div>{{"ServiceType"|translate}}</div>
              </template>
              <template v-slot:head(serviceitems)="data">
                <div>{{"ServiceItems"|translate}}</div>
              </template>
              <template v-slot:head(estimatedduration)="data">
                <div>{{"EstimatedDuration"|translate}}</div>
              </template>
              <template v-slot:head(servicenotes)="data">
                <div>{{"ServiceNotes"|translate}}</div>
              </template>
              <template v-slot:head(enabled)="data">
                <div>{{"Enabled"|translate}}</div>
              </template>
              <template v-slot:cell(enabled)="data">
                    <b-form-checkbox switch size="lg"></b-form-checkbox>
                </template>
            </b-table>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
          </div>
      </div>
    </div>
  </b-row>
  </div>
</template>

<script>
// import Modal from "./ServicePackageModal"
// import axios from "axios";

export default {
  /* components: {
    Modal
  }, */
  data: () => ({
    showDialog: false,
    fields: [
      { key: "check", class: "text-center" },
      { key: "packagename", sortable: true },
      { key: "packagenotes", sortable: true },
      { key: "packagestatus", class: "text-center" }
    ],
    record: null,
    state: "",
    perPage: 10,
    currentPage: 1,
    selected: '',
    dummy:[
        {"packagename": "Cleanup Package 1", "packagenotes":""},
        {"packagename": "Cleanup Package 2", "packagenotes":""},
        {"packagename": "Meal Set", "packagenotes":""},
        {"packagename": "Bath Package", "packagenotes":""},
        {"packagename": "Disable Package", "packagenotes":""},
        {"packagename": "Mobility Package", "packagenotes":""},
        {"packagename": "Season Change Package", "packagenotes":""},
        {"packagename": "Custom Package 1", "packagenotes":""},
        {"packagename": "Custom Package 2", "packagenotes":""},
        {"packagename": "Custom Package 3", "packagenotes":""},
        {"packagename": "Custom Package 4", "packagenotes":""},
        {"packagename": "Custom Package 5", "packagenotes":""},
        {"packagename": "Custom Package 6", "packagenotes":""},
        {"packagename": "Custom Package 7", "packagenotes":""},
        {"packagename": "Custom Package 8", "packagenotes":""},
        {"packagename": "Custom Package 9", "packagenotes":""},
        {"packagename": "Custom Package 10", "packagenotes":""},
        {"packagename": "Custom Package 11", "packagenotes":""},
        {"packagename": "Custom Package 12", "packagenotes":""},
        {"packagename": "Custom Package 13", "packagenotes":""},
    ],
    fields1: [
      { key: "id", sortable: true },
      { key: "servicetype", sortable: true },
      { key: "serviceitems", sortable: true },
      { key: "estimatedduration", sortable: true },
      { key: "servicenotes", sortable: true },
      { key: "enabled", class: "text-center" }
    ],
    dummy1:[
        {"id": "1", "servicetype":"Day Care", "serviceitems":"Housekeeping", "estimatedduration":"30 Minutes", "servicenotes":"Open windows"},
        {"id": "2", "servicetype":"Day Care", "serviceitems":"Mop", "estimatedduration":"60 Minutes", "servicenotes":""},
        {"id": "3", "servicetype":"Food Service", "serviceitems":"Home Cooking", "estimatedduration":"60 Minutes", "servicenotes":""},
        {"id": "4", "servicetype":"Food Service", "serviceitems":"Home Delivery", "estimatedduration":"30 Minutes", "servicenotes":""},
        {"id": "5", "servicetype":"Cleaning Service", "serviceitems":"Home Haircut", "estimatedduration":"30 Minutes", "servicenotes":""},
        {"id": "6", "servicetype":"Cleaning Service", "serviceitems":"Washing Feet and Nails", "estimatedduration":"60 Minutes", "servicenotes":""},
        {"id": "7", "servicetype":"Cleaning Service", "serviceitems":"Clean The Room", "estimatedduration":"60 Minutes", "servicenotes":""},
        {"id": "8", "servicetype":"Cleaning Service", "serviceitems":"Cleaning Utensils", "estimatedduration":"30 Minutes", "servicenotes":""},
        {"id": "9", "servicetype":"Cleaning Service", "serviceitems":"Laundry", "estimatedduration":"90 Minutes", "servicenotes":""},
        {"id": "10", "servicetype":"Cleaning Service", "serviceitems":"Clean Shoes", "estimatedduration":"30 Minutes", "servicenotes":""},
    ]
  }),
  computed: {
      rows() {
        return this.dummy.length
      }
  },
  /* methods: {
    openModal(serviceskilldata) {
      if (!serviceskilldata) {
        this.state = "create";
        this.showDialog = true;
      } else {
          this.state = "edit";
          this.record = serviceskilldata;
          this.showDialog = true;
      }
    },
    closeModal() {
      this.showDialog = false;
      this.record = {};
    },
  }, */
  /* mounted() {
      axios
      .get('http://39.108.148.90/oldagecp2/webservices/institutional_get_list.php')
      .then(response => {
        this.records = response.data.records
      })
      
    }, */
};
</script>