<template>
  <v-layout row justify-center>
    <v-dialog persistent v-model="showLocal" max-width="550">
      <v-card>
        <v-card-title class="headline primary-title">
        {{ "Service Category Selection" | translate }}</v-card-title>
        <v-card-text>
          <b-table
            id="table-skill-search"
            :striped="striped"
            :bordered="bordered"
            :borderless="borderless"
            :outlined="outlined"
            :small="small"
            responsive
            :hover="hover"
            :dark="dark"
            :fixed="fixed"
            :foot-clone="footClone"
            :no-border-collapse="noCollapse"
            :head-variant="headVariant"
            :table-variant="tableVariant"
            :items="dummy"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
          >
            <template v-slot:head(id)="data">
              <div>{{"#"|translate}}</div>
            </template>
            <template v-slot:head(check)="data">
                <div>{{""}}</div>
              </template>
            <template v-slot:head(name)="data">
              <div>{{"Name"|translate}}</div>
            </template>
            <template v-slot:cell(check)="data">
                <b-form-radio v-model="selected" name="some-radios"></b-form-radio>
              </template>
          </b-table>
          <b-row>
            <div class="col-md-8">
              <b-pagination
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perPage"
                aria-controls="table-skill-search"
              ></b-pagination>
            </div>
            <div class="col-md-4" align="right">
              <b-btn 
                class="btn mb-1 btn-transition mr-3"
                variant="secondary"
                @click="showLocal = false"
                >{{"Cancel"|translate}}</b-btn>
              <b-btn 
                class="btn mb-1 btn-transition"
                variant="primary"
                @click="select(selectedCategory)"
                >{{"Select"|translate}}</b-btn>
            </div>
          </b-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import {
  CREATE_USER_ACCOUNT
} from "@/store/constants/actions.type";

export default {
  props: {
    isShown: {
      type: Boolean,
      required: true
    },
    orgCode: null,
    newAcc: Object,
  },
  data: () => ({
    showDialog: false,
    fields: [
      { key: "id", sortable: true },
      { key: "check", class: "text-center" },
      { key: "name", sortable: true }
    ],
    record: null,
    state: "",
    perPage: 5,
    currentPage: 1,
    selected: '',
    dummy:[
        {"id": "1", "name":"Basic Care"},
        {"id": "2", "name":"Basic Health Care"},
        {"id": "3", "name":"Care"},
        {"id": "4", "name":"Medical Insurance"},
        {"id": "5", "name":"Spiritual Comfort"},
        {"id": "6", "name":"Basic Care 2"},
        {"id": "7", "name":"Basic Health Care 2"},
        {"id": "8", "name":"Care 2"},
        {"id": "9", "name":"Medical Insurance 2"},
        {"id": "10", "name":"Spiritual Comfort 2"},
        {"id": "11", "name":"Basic Care 3"},
        {"id": "12", "name":"Basic Health Care 3"},
        {"id": "13", "name":"Care 3"},
        {"id": "14", "name":"Medical Insurance 3"},
        {"id": "15", "name":"Spiritual Comfort 3"},
    ]
  }),
  computed: {
    rows() {
        return this.dummy.length
    },
    showLocal: {
      get() {
        return this.isShown;
      },
      set(val) {
        if (!val) {
          this.$emit("closeModal");
        }
      }
    }
  },
  methods: {
    save() {
        this.localData.OrganizationCode = this.orgCode;
        this.$store.dispatch(CREATE_USER_ACCOUNT, this.localData).then((data) => {
          this.newAcc = this.localData;
          this.showLocal = false;
        });
      } 
    }
};
</script>
