<template>
    <div class="card main-card">
        <div class="card-header">
            {{ dataState == "create" ? "ServiceSkillInformation" : "ServiceSkillInformation" | translate }}
        </div>
        <div class="card-body">
            <b-row>
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-3 col-form-label">{{
                            "ServiceType" | translate
                        }}</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                    rounded="left" alt="Left-rounded images"
                                />
                                <b-btn
                                    @click.stop="openModal()"
                                    class="btn btn-light"
                                    rounded="right" alt="Right-rounded images"
                                    ></b-btn>
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row>
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-3 col-form-label">{{
                            "ServiceItems" | translate
                        }}</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                />
                            </div>
                        </div>
                        <div class="col md-4">&nbsp;</div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row>
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-3 col-form-label">{{
                            "DetailedStandardDescription" | translate
                        }}</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <textarea
                                    type="textarea"
                                    maxlength="50"
                                    class="form-control"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row class="mt-2 mb-2">
                <div class="col col-md-6">
                    <div class="row">
                        <label class="col-md-6 col-form-label">{{
                            "BillingStaff" | translate
                        }}</label>
                        <div class="col-md-6">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                    placeholder="Zhang Pu"
                                    v-bind:readonly="is_readonly"
                                    disabled="true"
                                />
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="row">
                        <label class="col-md-5 col-form-label" align="right">{{
                            "DateOfOrder" | translate
                        }}</label>
                        <div class="col-md-7">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                    v-bind:readonly="is_readonly"
                                    disabled="true"
                                    v-model="timestamp"
                                />                                    
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <div>&nbsp;</div>
            <div>
                <b-row>
                    <div class="col-md-8">&nbsp;</div>
                    <div class="col-md-4" align="right">
                        <router-link :to="{ name: 'service-skill-management', params: { dataState: 'create' } }">
                                <b-btn
                                class="btn mb-3 btn-transition mr-3"
                                variant="secondary"
                                >{{ "Cancel" | translate }}</b-btn
                            >
                        </router-link>
                        <b-btn
                            @click="save()"
                            class="btn mb-3 btn-transition"
                            variant="primary"
                            >{{ "Determine" | translate }}</b-btn
                        >
                    </div>
                </b-row>
            </div>
        </div>
        <Modal
            :isShown="showDialog"
            :videoData="record"
            :dataState="state"
            @closeModal="closeModal()"
        />
    </div>
</template>

<script>
import {
    CREATE_LED,
    GET_LED_SINGLE,
    EDIT_LED,
    TOGGLE_MAINTENANCE
} from "@/store/constants/actions.type";
// import VueRouter from 'vue-router';
// import Datepicker from 'vuejs-datepicker';
import Modal from "./SearchServiceSkillModal";

export default {
    components: {
        Modal
    },
    props: {
        dataState: {
            type: String
        },
        Code: String
    },
    data: () => ({
        timestamp: "",
        is_readonly : true,
        showDialog: false,
        fields: [
            { key: "username", sortable: true },
            { key: "role", sortable: true },
            { key: "actions", class: "text-right" }
        ]
    }),
    mounted() {
        if (this.dataState === "edit") {
            this.loadData();
        }
    },
    created() {
                setInterval(this.getNow, 1000);
            },
    methods: {
        getNow: function() {
                    const today = new Date();
                    const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                    const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    const dateTime = date;
                    this.timestamp = dateTime;
                },
        icon(led) {
           {
                return "https://i.ibb.co/LrDrsDK/green-landscape.png";
            }
        },
        f1() {
                if (this.is_readonly) {
                    this.is_readonly = false;
                } else {
                    this.is_readonly = true;
                }
        },
        loadData() {
            this.$store.dispatch(GET_LED_SINGLE, this.Code).then(data => {
                this.loadCompleted = true;
                if (data != null) {
                    this.payload = data;
                } 
            });
        },
        save() {
            if (this.dataState == "edit") {
                let Datasend = {
                    BuildNumber: this.payload.deviceCode,
                    DeviceCode: this.payload.deviceCode,
                    isMaintenance: true,
                    Name: this.payload.name,
                    Long: this.payload.long,
                    Lat: this.payload.lat,
                    Country: this.payload.country,
                    Region: this.payload.region,
                    Height: this.payload.height,
                    Width: this.payload.width,
                    Orientation: this.payload.orientation,
                    DevicePlaylist: this.payload.devicePlaylist
                };
                this.$store.dispatch(EDIT_LED, Datasend).then(() => {
                    this.$router.push({ name: "led-list" });
                });
            } else {
                let Datasend = {
                    BuildNumber: this.payload.deviceCode,
                    DeviceCode: this.payload.deviceCode,
                    isMaintenance: true,
                    Name: this.payload.name,
                    Long: this.payload.long,
                    Lat: this.payload.lat,
                    Country: this.payload.country,
                    Region: this.payload.region,
                    Height: this.payload.height,
                    Width: this.payload.width,
                    Orientation: this.payload.orientation,
                    DevicePlaylist: this.payload.devicePlaylist
                };
                // console.log(Datasend);
                this.$store.dispatch(CREATE_LED, Datasend).then(() => {
                    this.$router.push({ name: "led-list" });
                });
            }
        },
        toggleMaintenance(code) {
            this.$store.dispatch(TOGGLE_MAINTENANCE, code);
        },
        openModal(skilldata) {
            if (!skilldata) {
            this.state = "create";
            this.showDialog = true;
        } else {
            this.state = "edit";
            this.record = skilldata;
            this.showDialog = true;
        }
        },
        closeModal() {
            this.showDialog = false;
            this.record = {};
        },

    },
};
</script>

<style>
    .center {
        width: 50%;
        margin: 0 auto;
    }
</style>
