<template>
    <div class="card main-card">
        <div class="card-header">
            {{ dataState == "create" ? "WorkOrderAcceptanceInformation" : "WorkOrderAcceptanceInformation" | translate }}
        </div>
        <div class="card-body">
            <b-row>
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-3 col-form-label">{{
                            "WorkOrderNumber" | translate
                        }}</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    v-model="payload.deviceCode"
                                    class="form-control"
                                     v-bind:readonly="is_readonly"
                                     placeholder="工单编号将在创建的时候自动生成"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">&nbsp;</div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row>
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-3 col-form-label">{{
                            "Administrativearea" | translate
                        }}</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    v-model="payload.deviceCode"
                                    class="form-control"
                                />
                            </div>
                        </div>
                        <div class="col md-3">&nbsp;</div>
                    </div>
                </div>
            </b-row>
          
            <b-row>
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-3 col-form-label">{{
                            "Elderlyname" | translate
                        }}</label>
                        <div class="col-md-3">
                            <div class="input-group">
                               <b-form-select v-model="selected" :options="options"></b-form-select>
                            </div>
                        </div>
                        <div class="col-md-1">&nbsp;</div>
                        <label class="col-md-2 col-form-label">{{
                            "Callernumber" | translate
                        }}</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                 <input
                                    type="text"
                                    maxlength="50"
                                    v-model="payload.deviceCode"
                                    class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row>
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-3 col-form-label">{{
                            "ServicePackage" | translate
                        }}</label>
                        <div class="col-md-3">
                             <div class="input-group">
                               
                                <b-form-select v-model="selected" :options="options"></b-form-select>
                            </div>
                        </div>
                        <div class="col-md-1">&nbsp;</div>
                        <label class="col-md-2 col-form-label">{{
                            "Calltime" | translate
                        }}</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                 <Datepicker class="btn-date" placeholder="Select Date"></Datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <br>
             <b-row>
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-3 col-form-label">{{
                            "servicerequirements" | translate
                        }}</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <textarea
                                    type="text"
                                    maxlength="50"
                                    v-model="payload.deviceCode"
                                    class="form-control"
                                     placeholder="这里面默认列出服务项目的子类，同时创建人员也可以备注详细需求"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row>
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-3 col-form-label">{{
                            "Actualresidence" | translate
                        }}</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    v-model="payload.deviceCode"
                                    class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row class="mt-2 mb-2">
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-3 col-form-label">{{
                            "Billingstaff" | translate
                        }}</label>
                        <div class="col-md-3">
                             <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                    placeholder="李明国"
                                    v-bind:readonly="is_readonly"
                                />
                        </div>
                        <div class="col-md-1">&nbsp;</div>
                        <label class="col-md-2 col-form-label">{{
                            "Dateoforder" | translate
                        }}</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                    <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                    v-bind:readonly="is_readonly"
                                    v-model="timestamp"
                                    />                                    
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <b-row v-if="dataState == 'edit'" class="mt-2 mb-2">
                <div class="col col-md-6">
                    <div class="row">
                        <label class="col-md-3 col-form-label">{{
                            "StatusMaintenance" | translate
                        }}</label>
                        <div class="col-md-9">
                            <b-checkbox
                                class="mt-3"
                                v-model="payload.isMaintenance"
                                @change="toggleMaintenance(payload.deviceCode)"
                                size="is-large"
                                :switch="true"
                            />
                        </div>
                    </div>
                </div>
            </b-row>
            
            
            <SchedulerTable
                v-if="loadCompleted || dataState == 'create'"
                :dataState="dataState"
                :localData.sync="payload.devicePlaylist"
                :orientation.sync="payload.orientation"
            />
            <div class="d-block card-footer">
                <b-row>
                    <div class="col-md-8">&nbsp;</div>
                    <div class="col-md-2">
                        <router-link :to="{ name: 'workOrder-Management', params: { dataState: 'create' } }">
                                <b-btn
                                class="btn btn-block mb-3 btn-transition"
                                variant="secondary"
                                >{{ "Cancel" | translate }}</b-btn
                            >
                        </router-link>
                    </div>
                    <div class="col-md-2">
                        <b-btn
                            @click="save()"
                            class="btn btn-block mb-3 btn-transition"
                            variant="primary"
                            >{{ "save" | translate }}</b-btn
                        >
                    </div>
                </b-row>
            </div>
        </div>
    </div>
</template>

<!-- <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css"> -->
<script>
import {
    CREATE_LED,
    GET_LED_SINGLE,
    EDIT_LED,
    TOGGLE_MAINTENANCE
} from "@/store/constants/actions.type";
// import VueRouter from 'vue-router';
import Datepicker from 'vuejs-datepicker';
export default {
    components: {
            Datepicker
        },
    props: {
        dataState: {
            type: String
        },
        Code: String
    },
    data() {
        return {
            timestamp: "",
            is_readonly : true,
            selected: null,
            loadCompleted: false,
            centerAmap: [117.2796505451202, 34.26787536477026],
            iseng: [{ data1: "A", data2: "B" }, { data1: "C", data2: "D" }],
            schedule: [
                
            ],
           options: [
                { value: null, text: 'Please select an option' },
                { value: 'a', text: 'This is First option' },
                { value: 'b', text: 'Selected Option' },
                { value: { C: '3PO' }, text: 'This is an option with object value' }
                ],
            payload: {
                name: null,
                lat: 0,
                long: 0,
                region: null,
                country: null,
                devicePlaylist: [
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 1
                },
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 2
                },
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 3
                },
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 4
                },
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 5
                },
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 6
                },
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 7
                }
                ],
                orientation: null
            },
            markerEvents: {
                dragend: e => {
                    this.payload.lat = e.lnglat.lat;
                    this.payload.long = e.lnglat.lng;
                }
            },
            events: {
                click: e => {
                    this.payload.lat = e.lnglat.lat;
                    this.payload.long = e.lnglat.lng;
                }
            }
        };
    },
    mounted() {
        if (this.dataState === "edit") {
            this.loadData();
        }
    },
    created() {
                setInterval(this.getNow, 1000);
            },
    methods: {
        getNow: function() {
                    const today = new Date();
                    const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                    const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    const dateTime = date;
                    this.timestamp = dateTime;
                },
        icon(led) {
           {
                return "https://i.ibb.co/LrDrsDK/green-landscape.png";
            }
        },
        f1() {
                if (this.is_readonly) {
                    this.is_readonly = false;
                } else {
                    this.is_readonly = true;
                }
        },
        loadData() {
            this.$store.dispatch(GET_LED_SINGLE, this.Code).then(data => {
                this.loadCompleted = true;
                if (data != null) {
                    this.payload = data;
                } 
            });
        },
        save() {
            if (this.dataState == "edit") {
                let Datasend = {
                    BuildNumber: this.payload.deviceCode,
                    DeviceCode: this.payload.deviceCode,
                    isMaintenance: true,
                    Name: this.payload.name,
                    Long: this.payload.long,
                    Lat: this.payload.lat,
                    Country: this.payload.country,
                    Region: this.payload.region,
                    Height: this.payload.height,
                    Width: this.payload.width,
                    Orientation: this.payload.orientation,
                    DevicePlaylist: this.payload.devicePlaylist
                };
                this.$store.dispatch(EDIT_LED, Datasend).then(() => {
                    this.$router.push({ name: "led-list" });
                });
            } else {
                let Datasend = {
                    BuildNumber: this.payload.deviceCode,
                    DeviceCode: this.payload.deviceCode,
                    isMaintenance: true,
                    Name: this.payload.name,
                    Long: this.payload.long,
                    Lat: this.payload.lat,
                    Country: this.payload.country,
                    Region: this.payload.region,
                    Height: this.payload.height,
                    Width: this.payload.width,
                    Orientation: this.payload.orientation,
                    DevicePlaylist: this.payload.devicePlaylist
                };
                // console.log(Datasend);
                this.$store.dispatch(CREATE_LED, Datasend).then(() => {
                    this.$router.push({ name: "led-list" });
                });
            }
        },
        toggleMaintenance(code) {
            this.$store.dispatch(TOGGLE_MAINTENANCE, code);
        }
    }
};
</script>

<style>
    .center {
        width: 50%;
        margin: 0 auto;
    }
    .btn-date{
    border: 1px solid #ced4da;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    }
   
</style>
