<template>
  <div>
  <div class="card-hover-shadow card-border mb-3 card">
    <div>
      <div class="card-body">
        <b-row>
          <b-col md="3">
            <b-form-select
              :options="[{ text: 'Service Category Selection..' , value: null }, 'Basic Care', 'Basic Health Care', 'Care']"
              :value="null"
            ></b-form-select>
          </b-col>
          <b-col md="3">
            <b-input
              placeholder="Please Enter Query Keywords"
              type="text"
              maxlength="30"
            ></b-input>
          </b-col>
          <b-col md="4"></b-col>
          <b-col md="2" align="right">
            <b-btn
              class="btn mr-2"
              variant="primary"
              ><img> {{"Inquire"|translate}}</b-btn>
            <b-btn
              class="btn btn-success"
              >{{"Reset"|translate}}</b-btn>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
  
  <div class="card-hover-shadow card-border mb-3 card">
    <div class="card-header">{{"ElderlyInformationList"|translate}}
      <div class="card-body">
        <b-row>
          <b-col md="8"></b-col>
          <b-col md="4" align="right">
            <router-link :to="{ name: 'elderly-create', params: { dataState: 'create' } }">
            <b-btn
              class="btn btn-hover-shine mr-2"
              variant="primary"
              >{{"Add To"|translate}}</b-btn> </router-link>
            <router-link :to="{ name: 'elderly-edit', params: { dataState: 'edit' } }">
            <b-btn
              class="btn btn-success btn-hover-shine mr-2"
              >{{"Edit"|translate}}</b-btn> </router-link>
            <b-btn
              class="btn btn-warning btn-hover-shine mr-2"
              >{{"Detailed"|translate}}</b-btn>
            <b-btn
              class="btn btn-danger btn-hover-shine"
              >{{"Delete"|translate}}</b-btn></b-col>
        </b-row>
      </div>
    </div>

    <div class="card-body">
      <VueElementLoading :active="isLoading" spinner="ring" color="var(--success)" /> 
      <b-table
        id="table-elderly"
        :striped="striped"
        :bordered="bordered"
        :borderless="borderless"
        :outlined="outlined"
        :small="small"
        responsive
        :hover="hover"
        :dark="dark"
        :fixed="fixed"
        :foot-clone="footClone"
        :no-border-collapse="noCollapse"
        :head-variant="headVariant"
        :table-variant="tableVariant"
        :items="dummy"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
      >
        <template v-slot:head(checkbox)="data">
          <div>{{""}}</div>
        </template>
        <template v-slot:head(servicetype)="data">
          <div>{{"ServiceType"|translate}}</div>
        </template>
        <template v-slot:head(serviceitems)="data">
          <div>{{"ServiceItems"|translate}}</div>
        </template>
        <template v-slot:head(detailedstandarddescription)="data">
          <div>{{"DetailedStandardDescription"|translate}}</div>
        </template>
        <template v-slot:head(preparedby)="data">
          <div>{{"PreparedBy"|translate}}</div>
        </template>
        <template v-slot:head(dateoforder)="data">
          <div>{{"DateOfOrder"|translate}}</div>
        </template>
        <template v-slot:cell(checkbox)="data">
          <b-form-checkbox-group
            v-model="selected"
            name="flavour-1a"
          ></b-form-checkbox-group>
        </template>
      </b-table>
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="table-elderly"
        label-page
      ></b-pagination>
      <Modal
        :isShown="showDialog"
        :videoData="record"
        :dataState="state"
        @closeModal="closeModal()"
      />
    </div>
  </div>
  </div>
</template>

<script>
import Modal from "./ElderlyModal"
// import axios from "axios";

export default {
  components: {
    Modal
  },
  data: () => ({
    showDialog: false,
    fields: [
      { key: "checkbox", class: "text-center" },
      { key: "servicetype", sortable: true },
      { key: "serviceitems", sortable: true },
      { key: "detailedstandarddescription", sortable: true },
      { key: "preparedby", sortable: true },
      { key: "dateoforder", sortable: true }
    ],
    record: null,
    state: "",
    perPage: 5,
    currentPage: 1,
    selected: '',
    dummy:[
        {"servicetype": "", "serviceitems":"", "detailedstandarddescription":"", "preparedby":"", "dateoforder": ""},
    ]
  }),
  computed: {
      rows() {
        return this.dummy.length
      }
  },
  methods: {
    openModal(elderlydata) {
      if (!elderlydata) {
        this.state = "create";
        this.showDialog = true;
      } else {
          this.state = "edit";
          this.record = elderlydata;
          this.showDialog = true;
      }
    },
    closeModal() {
      this.showDialog = false;
      this.record = {};
    },
  },
  /* mounted() {
      axios
      .get('http://39.108.148.90/oldagecp2/webservices/institutional_get_list.php')
      .then(response => {
        this.records = response.data.records
      })
      
    }, */
};
</script>