<template>
    <div class="card main-card">
        <div class="card-header">
            {{ dataState == "create" ? "BasicInformationForTheElderly" : "Basicinformationfortheelderly" | translate }}
        </div>
        <div class="card-body">
             <b-row>
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-2 col-form-label">{{
                            "Administrative Area" | translate
                        }}</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <b-form-select v-model="selected" :options="options"></b-form-select>
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row class="mt-2 mb-2">
                <div class="col col-md-6">
                    <div class="row">
                        <label class="col-md-4 col-form-label">{{
                            "Eldery Name" | translate
                        }}</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                    placeholder="Please enter a name"
                                />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-md-4 col-form-label">{{
                            "Identity Number" | translate
                        }}</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                    placeholder="Please enter a number"
                                />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-md-4 col-form-label">{{
                            "Old Man Sex" | translate
                        }}</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                    disabled="true"
                                />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-md-4 col-form-label">{{
                            "Old Age" | translate
                        }}</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                    disabled="true"
                                />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-md-4 col-form-label">{{
                            "Date Of Birth" | translate
                        }}</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                    disabled="true"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="row">
                        <label class="col-md-4 col-form-label" align="right">{{
                            "Old Man Photo" | translate
                        }}</label>
                        <div class="col-md-4">
                            <div class="input-group">
                              <b-form-file id="file-default"></b-form-file>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row class="mt-2 mb-2">
                <div class="col col-md-6">
                    <div class="row">
                        <label class="col-md-4 col-form-label">{{
                            "Hometown" | translate
                        }}</label>
                        <div class="col-md-8">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                />
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="row">
                        <label class="col-md-4 col-form-label" align="right">{{
                            "Nation" | translate
                        }}</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                />                                    
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row class="mt-2 mb-2">
                <div class="col col-md-6">
                    <div class="row">
                        <label class="col-md-4 col-form-label">{{
                            "Cellphone Number" | translate
                        }}</label>
                        <div class="col-md-8">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                />
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="row">
                        <label class="col-md-4 col-form-label" align="right">{{
                            "Other Phone" | translate
                        }}</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                />                                    
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row>
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-2 col-form-label">{{
                            "Actual Residence" | translate
                        }}</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="500"
                                    class="form-control"
                                    placeholder="Please enter"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row>
                <div class="col col-md-12">
                    <el-amap
                vid="amapDemo"
                :zoom="14"
                :center="centerAmap"
                :events="events"
                style="width: 100%; height: 500px"
                class="mb-4"
            >
                <el-amap-marker
                    v-if="payload.lat != null || payload.long != null"
                    :icon="icon(m)"
                    :position="[
                        parseFloat(payload.long),
                        parseFloat(payload.lat)
                    ]"
                    :events="markerEvents"
                    draggable="true"
                />
            </el-amap>
                </div>
            </b-row>
            <br>
            <b-row class="mt-2 mb-2">
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-2 col-form-label">{{
                            "GPS Address" | translate
                        }}</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="500"
                                    class="form-control"
                                    placeholder="117.61111,24.077158"
                                    disabled="true"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row class="mt-2 mb-2">
                <div class="col col-md-12">
                    <div class="row">
                        <label class="col-md-2 col-form-label">{{
                            "Status Description" | translate
                        }}</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="500"
                                    class="form-control"
                                    placeholder="Please enter the elderly's health and family environment. Related information such as children"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <br>
            <b-row class="mt-2 mb-2">
                <div class="col col-md-6">
                    <div class="row">
                        <label class="col-md-4 col-form-label">{{
                            "Order Making" | translate
                        }}</label>
                        <div class="col-md-8">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                    placeholder="Zhang Pu"
                                    v-bind:readonly="is_readonly"
                                    disabled="true"
                                />
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="row">
                        <label class="col-md-4 col-form-label" align="right">{{
                            "Order Date" | translate
                        }}</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input
                                    type="text"
                                    maxlength="50"
                                    class="form-control"
                                    v-bind:readonly="is_readonly"
                                    disabled="true"
                                    v-model="timestamp"
                                />                                    
                            </div>
                        </div>
                    </div>
                </div>
            </b-row>
            <div>&nbsp;</div>
            <div>&nbsp;</div>

            <div class="card-header">
                {{ "EmergencyContact" | translate }}
            </div>
            <b-table
                id="table-emergency-contact"
                :striped="striped"
                :bordered="bordered"
                :borderless="borderless"
                :outlined="outlined"
                :small="small"
                responsive
                :hover="hover"
                :dark="dark"
                :fixed="fixed"
                :foot-clone="footClone"
                :no-border-collapse="noCollapse"
                :head-variant="headVariant"
                :table-variant="tableVariant"
                :items="dummy"
                :fields="fields"
            >
                <template v-slot:head(no)="data">
                    <div>{{"#"|translate}}</div>
                </template>
                <template v-slot:head(relationship)="data">
                    <div>{{"Relationship With The Elderly"|translate}}</div>
                </template>
                <template v-slot:head(name)="data">
                    <div>{{"Name"|translate}}</div>
                </template>
                <template v-slot:head(age)="data">
                    <div>{{"Age"|translate}}</div>
                </template>
                <template v-slot:head(dateofbirth)="data">
                    <div>{{"Date Of Birth"|translate}}</div>
                </template>
                <template v-slot:head(cellphone)="data">
                    <div>{{"Cellphone Number"|translate}}</div>
                </template>
                <template v-slot:head(fixedtelphone)="data">
                    <div>{{"Fixed Telphone"|translate}}</div>
                </template>
                <template v-slot:head(residential)="data">
                    <div>{{"Residential Address"|translate}}</div>
                </template>
                <template v-slot:head(unit)="data">
                    <div>{{"Unit / Enterprise Name"|translate}}</div>
                </template>
                <template v-slot:cell(operating)="data">
                    <b-btn class="btn btn-warning btn-transition"
                        >{{ "Edit" | translate }}</b-btn>
                    <b-btn class="btn btn-danger btn-hover-shine ml-2"
                        >{{ "Delete" | translate }}</b-btn>
                </template>
            </b-table>

            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>
                <b-row>
                    <div class="col-md-8">&nbsp;</div>
                    <div class="col-md-4" align="right">
                        <router-link :to="{ name: 'elderly-management', params: { dataState: 'create' } }">
                                <b-btn
                                class="btn mb-3 btn-transition mr-3"
                                variant="secondary"
                                >{{ "Cancel" | translate }}</b-btn
                            >
                        </router-link>
                        <b-btn
                            @click="save()"
                            class="btn mb-3 btn-transition"
                            variant="primary"
                            >{{ "Submit" | translate }}</b-btn
                        >
                    </div>
                </b-row>
            </div>
        </div>
        
    </div>
</template>

<script>
import {
    CREATE_LED,
    GET_LED_SINGLE,
    EDIT_LED,
    TOGGLE_MAINTENANCE
} from "@/store/constants/actions.type";
// import VueRouter from 'vue-router';
// import Datepicker from 'vuejs-datepicker';
// import Modal from "./PackageModal";

export default {
    props: {
        dataState: {
            type: String
        },
        Code: String
    },
    data: () => ({
        timestamp: "",
        is_readonly : true,
        showDialog: false,
        fields: [
            { key: "no", sortable: true },
            { key: "relationship", sortable: true },
            { key: "name", sortable: true },
            { key: "age", sortable: true },
            { key: "dateofbirth", sortable: true },
            { key: "cellphone", sortable: true },
            { key: "fixedtelphone", sortable: true },
            { key: "residential", sortable: true },
            { key: "unit", sortable: true },
            { key: "operating", class: "text-center" }
        ],
        record: null,
        state: "",
        dummy:[
            {"no": "1", "relationship": "Spouse", "name":"Fu Fu", "age":"76", "dateofbirth": "1944-10", "cellphone": "17050509958", "fixedtelphone":"", "residential":"No. 16, Xicheng Road, Sui'an Town, Zhangpu County", "unit": ""},
            {"no": "2", "relationship": "Daugther", "name":"Zhang Miaoqi", "age":"54", "dateofbirth": "1966-01", "cellphone": "15167118200", "fixedtelphone":"0590 1234567", "residential":"No. 1, Zhonghua Road, Sui'an Town, Zhangpu County", "unit": "The First Primary School of Zhangpu County"},
        ],
        options: [
            { value: null, text: 'Please choose' },
            { value: 'a', text: 'This is First option' },
            { value: 'b', text: 'Selected Option' },
            { value: { C: '3PO' }, text: 'This is an option with object value' }
        ],
        centerAmap: [117.2796505451202, 34.26787536477026],
        payload: {
                name: null,
                lat: 0,
                long: 0,
                region: null,
                country: null,
                devicePlaylist: [
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 1
                },
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 2
                },
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 3
                },
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 4
                },
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 5
                },
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 6
                },
                {
                    playlistCode: {},
                    playlistDesc: "Choose Playlist",
                    weekOfDay: 7
                }
                ],
                orientation: null
            },
        markerEvents: {
                dragend: e => {
                    this.payload.lat = e.lnglat.lat;
                    this.payload.long = e.lnglat.lng;
                }
            },
        events: {
                click: e => {
                    this.payload.lat = e.lnglat.lat;
                    this.payload.long = e.lnglat.lng;
                }
            }
    }),
    mounted() {
        if (this.dataState === "edit") {
            this.loadData();
        }
    },
    created() {
                setInterval(this.getNow, 1000);
            },
    methods: {
        getNow: function() {
                    const today = new Date();
                    const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                    const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    const dateTime = date;
                    this.timestamp = dateTime;
                },
        icon(led) {
           {
                return "https://i.ibb.co/LrDrsDK/green-landscape.png";
            }
        },
        f1() {
                if (this.is_readonly) {
                    this.is_readonly = false;
                } else {
                    this.is_readonly = true;
                }
        },
        loadData() {
            this.$store.dispatch(GET_LED_SINGLE, this.Code).then(data => {
                this.loadCompleted = true;
                if (data != null) {
                    this.payload = data;
                } 
            });
        },
        save() {
            if (this.dataState == "edit") {
                let Datasend = {
                    BuildNumber: this.payload.deviceCode,
                    DeviceCode: this.payload.deviceCode,
                    isMaintenance: true,
                    Name: this.payload.name,
                    Long: this.payload.long,
                    Lat: this.payload.lat,
                    Country: this.payload.country,
                    Region: this.payload.region,
                    Height: this.payload.height,
                    Width: this.payload.width,
                    Orientation: this.payload.orientation,
                    DevicePlaylist: this.payload.devicePlaylist
                };
                this.$store.dispatch(EDIT_LED, Datasend).then(() => {
                    this.$router.push({ name: "led-list" });
                });
            } else {
                let Datasend = {
                    BuildNumber: this.payload.deviceCode,
                    DeviceCode: this.payload.deviceCode,
                    isMaintenance: true,
                    Name: this.payload.name,
                    Long: this.payload.long,
                    Lat: this.payload.lat,
                    Country: this.payload.country,
                    Region: this.payload.region,
                    Height: this.payload.height,
                    Width: this.payload.width,
                    Orientation: this.payload.orientation,
                    DevicePlaylist: this.payload.devicePlaylist
                };
                // console.log(Datasend);
                this.$store.dispatch(CREATE_LED, Datasend).then(() => {
                    this.$router.push({ name: "led-list" });
                });
            }
        },
        toggleMaintenance(code) {
            this.$store.dispatch(TOGGLE_MAINTENANCE, code);
        },

    },
};
</script>

<style>
    .center {
        width: 50%;
        margin: 0 auto;
    }
</style>