<template>
  <div class="card-hover-shadow card-border mb-3 card">
    <div class="card-header">{{"FormAndTabel"|translate}}</div>
    <div class="card-body">
      <VueElementLoading :active="isLoading" spinner="ring" color="var(--success)" />
      <b-btn
          @click.stop="openModal()"
          class="btn btn-block mb-3 btn-transition"
          variant="outline-primary"
        >{{"Buat User"|translate}}</b-btn>
      <b-table
        class="general-table"
        :striped="true"
        small
        responsive
        :outlined="true"
        :hover="true"
        :items="dummy"
        :fields="fields"
      >
        <template v-slot:cell(username)="data">
          <div>{{ data.item.username }}</div>
        </template>
        <template v-slot:cell(alamat)="data">
          <div>{{ data.item.alamat }}</div>
        </template>
        <template v-slot:cell(nohp)="data">
          <div>{{ data.item.nohp }}</div>
        </template>
        <template v-slot:cell(email)="data">
          <div>{{ data.item.email }}</div>
        </template>
        <template v-slot:cell(actions)="data">
        <div>
            <b-btn
              @click.stop="openModal(data.item)"
              class="btn btn-danger btn-hover-shine"
            >{{"Edit"|translate}}</b-btn>
          </div>
        </template>
      </b-table>
      <Modal
        :isShown="showDialog"
        :videoData="record"
        :dataState="state"
        @closeModal="closeModal()"
      />
    </div>
  </div>
</template>

<script>
//import Modal from "./FormModal"

export default {
  components: {
    Modal
  },
  data: () => ({
    showDialog: false,
    fields: [
      { key: "username", sortable: true },
      { key: "alamat", sortable: true },
      { key: "nohp", sortable: true },
      { key: "email", sortable: true },
      { key: "actions", class: "text-right" }
    ],
    record: null,
    state: "",
    dummy:[
        {"username": "Moch", "alamat":"Tawang", "nohp":"082100200300", "email":"moch@gmail.com"},
        {"username": "Ilman", "alamat":"Cihideung", "nohp":"082111222333", "email":"ilman@gmail.com"},
        {"username": "Ali", "alamat":"Indihiang", "nohp":"082433921019", "email":"ali@gmail.com"},
        {"username": "Sholeh", "alamat":"Kawalu", "nohp":"082123764097", "email":"sholeh@gmail.com"},
        {"username": "Udin", "alamat":"Cipedes", "nohp":"082591876301", "email":"udin@gmail.com"},
        {"username": "Tuye", "alamat":"Cibeureum", "nohp":"082225752098", "email":"tuye@gmail.com"},
    ]
  }),
  methods: {
    openModal(userdata) {
      if (!userdata) {
        this.state = "create";
        this.showDialog = true;
      } else {
          this.state = "edit";
          this.record = userdata;
          this.showDialog = true;
      }
    },
    closeModal() {
      this.showDialog = false;
      this.record = {};
    },
  },
};
</script>