<template>
  <div class="card-hover-shadow card-border mb-3 card">
    <div class="card-header">{{"RoleManagement"|translate}}</div>
    <div class="card-body">
      <VueElementLoading :active="isLoading" spinner="ring" color="var(--success)" />
      <b-table
        class="general-table"
        :striped="true"
        small
        responsive
        :outlined="true"
        :hover="true"
        :items="dummy"
        :fields="fields"
      >
       <template v-slot:cell(RoleNumber)="data">
          <div>{{ data.item.RoleNumber }}</div>
        </template>
        <template v-slot:cell(RoleName)="data">
          <div>{{ data.item.RoleName }}</div>
        </template>
        <template v-slot:cell(Description)="data">
          <div>{{ data.item.Description }}</div>
        </template>
        <template v-slot:cell(actions)="data">
        <div>
            <b-btn
              @click.stop="openModal(data.item)"
              class="btn btn-danger btn-hover-shine"
            >{{"Edit"|translate}}</b-btn>
        </div>
        </template>
      </b-table>
      <Modal
        :isShown="showDialog"
        :videoData="record"
        :dataState="state"
        @closeModal="closeModal()"
      />
    </div>
  </div>
</template>

<script>
import Modal from "./FormModal"

export default {
  components: {
    Modal
  },
  data: () => ({
    showDialog: false,
    fields: [
       { key: "RoleNumber", sortable: true },
      { key: "RoleName", sortable: true },
      { key: "Description", sortable: true }
    ],
    record: null,
    state: "",
    dummy:[
       {"RoleNumber": "rl00001", "RoleName":"Super administrator", "Description":"Super administrator, can view and use all permissions"},
        {"RoleNumber": "rl00002", "RoleName":"Agency manager", "Description":"Organization administrators can create employee information"},
        {"RoleNumber": "rl00003", "RoleName":"Dispatcher", "Description":"It is mainly the person who assigns the work order"},
        {"RoleNumber": "rl00004", "RoleName":"Expatriate service staff", "Description":"Ticket processing staff"}
    ]
  }),
  methods: {
    openModal(userdata) {
      if (!userdata) {
        this.state = "create";
        this.showDialog = true;
      } else {
          this.state = "edit";
          this.record = userdata;
          this.showDialog = true;
      }
    },
    closeModal() {
      this.showDialog = false;
      this.record = {};
    },
  },
};
</script>