<template>
  <div
    class="app-sidebar sidebar-shadow bg-heavy-rain text-darker"
    @mouseover="toggleSidebarHover('add','closed-sidebar-open')"
    @mouseleave="toggleSidebarHover('remove','closed-sidebar-open')"
  >
    <div class="app-header__logo">
      <div />
      <div class="header__pane ml-auto">
        <button
          type="button"
          class="hamburger close-sidebar-btn hamburger--elastic"
          v-bind:class="{ 'is-active' : isOpen }"
          @click="toggleBodyClass('closed-sidebar')"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <div class="app-sidebar-content">
      <VuePerfectScrollbar class="app-sidebar-scroll">
        <sidebar-menu v-if="chineseMode == false" showOneChild :menu="menu" />
        <sidebar-menu v-else-if="chineseMode == true" showOneChild :menu="chineseMenu" />
      </VuePerfectScrollbar>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { SidebarMenu } from "vue-sidebar-menu";
import VuePerfectScrollbar from "vue-perfect-scrollbar";

export default {
  components: {
    SidebarMenu,
    VuePerfectScrollbar
  },
  data() {
    return {
      chineseMode:false,
      isOpen: false,
      sidebarActive: false,
      chineseMenu:[
        {
          title: "机构管理",
          icon: "pe-7s-culture",
          href: "/InstitutionsManagement"
        },
        {
          title: "机构人员列表",
          icon: "pe-7s-culture",
          href: "/institutionmanagementpersonel"
        },
        {
          title: "服务单管理",
          icon: "pe-7s-culture",
          href: "/workOrderManagement"
        },
        {
          title: "机构类别管理",
          icon: "pe-7s-network",
          href: "/organization-category-management"
        },
        {
          title: "用户列表",
          icon: "pe-7s-id",
          href: "/user_management"
        },
         {
          title: "角色列表",
          icon: "pe-7s-users",
          href: "/RoleManagement"
        },
         {
          title: "地址列表",
          icon: "pe-7s-map",
          href: "/AddressManagement"
        },
        {
          title: "服務技能管理",
          icon: "pe-7s-star",
          href: "/serviceskillmanagement"
        },
        {
          title: "服務包管理",
          icon: "pe-7s-box1",
          href: "/servicepackagemanagement"
        },
        {
          title: "Elderly Management",
          icon: "pe-7s-box1",
          href: "/elderlymanagement"
        },
        
      ],
      menu: [
        {
          title: "Institutional Management",
          icon: "pe-7s-culture",
          href: "/InstitutionsManagement"
        },
        {
          title: "Institutional Management Personel",
          icon: "pe-7s-culture",
          href: "/institutionmanagementpersonel"
        },
        {
          title: "Service Ticket Management",
          icon: "pe-7s-culture",
          href: "/workOrderManagement"
        },
        {
          title: "Organization Category Management",
          icon: "pe-7s-network",
          href: "/organization-category-management"
        },
        {
          title: "User Management",
          icon: "pe-7s-id",
          href: "/user_management"
        },
         {
          title: "Role Management",
          icon: "pe-7s-users",
          href: "/RoleManagement"
        },
         {
          title: "Address Management",
          icon: "pe-7s-map",
          href: "/AddressManagement"
        },
        {
          title: "Service Skill Management",
          icon: "pe-7s-star",
          href: "/serviceskillmanagement"
        },
        {
          title: "Service Package Management",
          icon: "pe-7s-box1",
          href: "/servicepackagemanagement"
        },
        {
          title: "Elderly Management",
          icon: "pe-7s-box1",
          href: "/elderlymanagement"
        },
        
      ],
      collapsed: true,

      windowWidth: 0
    };
  },
  props: {
    sidebarbg: String
  },
  methods: {
    toggleBodyClass(className) {
      const el = document.body;
      this.isOpen = !this.isOpen;

      if (this.isOpen) {
        el.classList.add(className);
      } else {
        el.classList.remove(className);
      }
    },
    toggleSidebarHover(add, className) {
      const el = document.body;
      this.sidebarActive = !this.sidebarActive;

      this.windowWidth = document.documentElement.clientWidth;

      if (this.windowWidth > "992") {
        if (add === "add") {
          el.classList.add(className);
        } else {
          el.classList.remove(className);
        }
      }
    },
    getWindowWidth() {
      const el = document.body;

      this.windowWidth = document.documentElement.clientWidth;

      if (this.windowWidth < "1350") {
        el.classList.add("closed-sidebar", "closed-sidebar-md");
      } else {
        el.classList.remove("closed-sidebar", "closed-sidebar-md");
      }
    }
  },
  computed: {
    ...mapState({
      languageState: state=> state.curLanguage,
    })
  },
  mounted() {
    this.$nextTick(function() {
      window.addEventListener("resize", this.getWindowWidth);

      //Init
      this.getWindowWidth();
    });
  },
  watch:{
    languageState: function(value){
      if(value == 'en'){
        this.chineseMode = false;
      } else {
        this.chineseMode = true;
      }
    }
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.getWindowWidth);
  }
};
</script>
